
.programing-journy{
  color: rgb(255, 213, 0);
}

.Hobbies{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 color: coral;
}

.About-me{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: coral;
}

.My-projects{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: coral;
  background-size: auto;
}

img{
  float: left;
  margin-right: 20px;
}

.BF{
color: rgb(229, 92, 1);
font-family: Arial, Helvetica, sans-serif;
background-color: bisque;
margin-left: 200px;
border: 20px;
padding: 20px;
margin-right: 200px;
box-sizing: border-box;
}

body{
 background-color: rgb(30, 26, 10);
 background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
}