
.programing-journy{
  color: rgb(255, 213, 0);
}

.Hobbies{
 text-align: center;
}

.About-me{
  text-align: center;
}

.My-projects{
  text-align: center;
}

.BF{
color: brown;
font-family: Arial, Helvetica, sans-serif;
background-color: bisque;
margin-left: 50px;
border: 20px;
padding: 20px;
margin-right: 50px;
box-sizing: border-box;
}

body{
 background-color: cornsilk;

}